<!-- stopka na stronie -->
<div class="container">
    <div class="row">

        <div class="col-sm-4">
            <div class="card bg-dark">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Pliki cookies</h5>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-dark">
                <div class="card-body text-secondary">
                    <h5 class="card-title">Polityka prawności</h5>


                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-dark">
                <div class="card-body text-secondary">
                    <h5 class="card-title"><a [routerLink]="['/kontakt']">Kontakt</a></h5>
                </div>
            </div>
        </div>

    </div>
</div>