<div class="contener ">
  <div class="row ">
    <div class="col-12 ">
      <div class="card text-center">
        <div class="card-header">
          YourScale
        </div>
        <div class="card-body">
          <h5 class="card-title">Zespół YourScale</h5>
          <p class="card-text">
            Jeśli masz jakiś problem śmiało napisz do nas. Postaramy sie jak
            najszybciej odpowiedzieć na twoje pytania. Poniżej znajdują się
            również numery kontaktowe do kierowników poszczegulnych działów,
            jeśli sprawa jest nagła zadzwoń do nas a my postaramy się pomóc.
          </p>
          <a href="#" class="btn btn-primary">kontakt@yourscale.pl</a>
        </div>
        <div class="card-footer text-muted"></div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-2 mb-2">
    <div class="col-md-3 ">
      <div class="card">
        <img
          class="card-img-top "
          src="../assets/bartek1.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Bartosz Ochędowski</h5>
          <p class="card-text">
            W naszej firmie pełnię stanowisko CTO. Jestem programistom. Główną
            technologią jaką na codzień się zajmuje jest JavaScript oraz
            projektowanie i programowanie stron internetowych od strony
            frontendu.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">-CTO</li>
          <li class="list-group-item">-JavaScript</li>
          <li class="list-group-item">-Angular</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Link do GitHub</a>
          <a href="#" class="card-link">Link do CV</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="../assets/bartek.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Magdalena Kwiatek</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">-Jakies skille</li>
          <li class="list-group-item">-Jakies skille</li>
          <li class="list-group-item">-Jakies skille</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Link do GitHub</a>
          <a href="#" class="card-link">Link do CV</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="../assets/bartek.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Grzegorz Pelczar</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">-Jakies skille</li>
          <li class="list-group-item">-Jakies skille</li>
          <li class="list-group-item">-Jakies skille</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Link do GitHub</a>
          <a href="#" class="card-link">Link do CV</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top "
          src="../assets/profilowe.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Piotr Maślanka</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">-Jakies skille</li>
          <li class="list-group-item">-Jakies skille</li>
          <li class="list-group-item">-Jakies skille</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Link do GitHub</a>
          <a href="#" class="card-link">Link do CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
