<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card border-success mb-3 mt-3 shadow-lg">
        <div class="card-header text-success" style="font-weight:bold;">
          Wprowadz swoje dzisiejsze posiłki
        </div>
        <div class="card-body text-success">
          <div class="text-success mb-2 p-3">
            Wpisz produkty z których składał się twój posiłek np ziemniaki 150g.
            Produkty dodane w odpowiednim oknie zostaną automatycznie przypisane
            do dania. Dania oraz listę produktów z których sie składały możesz
            znaleźć w zakładce "Twoje konto" a potem edytować w razie potrzeby.
          </div>
          <ul>
            <li>
              <!-- <div
                  class="custom-control custom-checkbox"
                  style="direction: rtl ; text-align: right"
                >
                  <p style="text-align: left;">Śniadanie</p>
                  <input
                    type="checkbox"
                    class="custom-control-input filter-checkbox "
                    id="customCheck1"
                    value="1"
                  />
                  <label class="custom-control-label " for="customCheck1"></label>
                </div> -->
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput1"
                  placeholder="Śniadanie"
                />
              </div>
            </li>
            <li>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput2"
                  placeholder="II Śniadanie"
                />
              </div>
            </li>
            <li>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput3"
                  placeholder="Lunch"
                />
              </div>
            </li>
            <li>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput4"
                  placeholder="Obiad"
                />
              </div>
            </li>

            <li>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput5"
                  placeholder="Przekąska"
                />
              </div>
            </li>

            <li>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput6"
                  placeholder="Kolacja"
                />
              </div>
            </li>

            <li>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  id="FormControlInput7"
                  placeholder="Trening"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card border-success mb-3 shadow-lg">
        <div class="d-flex w-100 justify-content-between">
          <div class="card-body text-success ">
            <button
              type="button"
              class="btn btn-outline-success"
              [routerLink]="['/profil']"
            >
              Zapisz
            </button>
            <button
              type="submit"
              class="btn btn-outline-success ml-2"
              [routerLink]="['/cele']"
            >
              Ustal swój cel
            </button>
            <small class="m-2" style="float: right;"
              >Jeśli jeszcze nie ustaliłeś celu jaki chcesz osiągnąć z naszą
              pomocą zrób to teraz i kliknij przycisk "Ustal swój cel".
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
