<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">Li.</th>
            <th scope="col">Zdjecie</th>
            <th scope="col">Nick</th>
            <th scope="col">Przepis</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Markus</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Jacob</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Bary</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Markus</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Jacob</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Bary</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">1</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Markus</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Jacob</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>
                <div class="card">
                    <img class="card-img-top" src="../burger.jpg" alt="Card image cap">
                </div>
            </td>
            <td>Bary</td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur saepe, placeat quibusdam deserunt
                eligendi, dignissimos beatae laboriosam repellat fugit eveniet ea, adipisci cumque ipsa deleniti libero?
                Ex accusantium quidem explicabo.</td>
        </tr>
    </tbody>
</table>