<div class="contener page-content">
    <div class="row justify-content-center">
        <form>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationDefault01">Login</label>
                    <input type="text" class="form-control" id="validationDefault01" value="Mark" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefault02">Hasło</label>
                    <input type="password" class="form-control" id="validationDefault02" value="Otto" required>
                </div>
                <div class="col-md-4 mb-3">
                    <label for="validationDefaultUsername">Nazwa Użytkownika</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">@</span>
                        </div>
                        <input type="text" class="form-control" id="validationDefaultUsername"
                            aria-describedby="inputGroupPrepend2" required>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationDefault04">Wielkość Miasta</label>
                    <select class="custom-select" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>od 50 000 do 99 999</option>
                        <option>od 25 000 do 49 999</option>
                        <option>od 10 000 do 24 999</option>
                        <option>od 5 000 do 9 999</option>
                        <option>od 2 500 do 4 999</option>
                        <option>od 1 000 do 2 499</option>
                        <option>poniżej 1 000.</option>
                    </select>
                </div>

                <div class="col-md-3 mb-3">
                    <label for="validationDefault04">Płeć</label>
                    <select class="custom-select" id="validationDefault04" required>
                        <option selected disabled value="">Choose...</option>
                        <option>Męższczyzna</option>
                        <option>Kobieta</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationDefault05">Zip</label>
                    <input type="text" class="form-control" id="validationDefault05" required>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                        Agree to terms and conditions
                    </label>
                </div>
            </div>
            <div class="text-right">
                <button class="btn btn-secondary" type="submit">Wyślij formularz</button>
            </div>
        </form>
    </div>
</div>