<div class="container">
    <div class="row">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a
            class="nav-item nav-link "
            id="nav-home-tab"
            data-toggle="tab"
            [routerLink]="['']"
            role="tab"
            aria-controls="nav-home"
            aria-selected="true"
            >Strona główna</a
          >
          <a
            class="nav-item nav-link active"
            id="nav-profile-tab"
            data-toggle="tab"
            [routerLink]="['/profil']"
            role="tab"
            aria-controls="nav-profile"
            aria-selected="false"
            >Profil</a
          >
          <a
            class="nav-item nav-link"
            id="nav-contact-tab"
            data-toggle="tab"
            [routerLink]="['/konto']"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
            >Twoje konto</a
          >
          <a
            class="nav-item nav-link"
            id="nav-contact-tab"
            data-toggle="tab"
            [routerLink]="['/ustawienia']"
            role="tab"
            aria-controls="nav-contact"
            aria-selected="false"
            >Ustawienia</a
          >
        </div>
      </nav>
    </div>
  </div>
  <br />
  