<div class="list-group">
    <!-- Kolor podswietlenia jest tu -->
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Szynka</h5>
            <small>3 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small>Jakas dodatkowa informacja</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Mleko</h5>
            <small class="text-muted">7 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small class="text-muted">Jakas dodatkowa informacja</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ser żółty</h5>
            <small class="text-muted">5 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small class="text-muted">Jakas dodatkowa informacja</small>
    </a>
    <!-- Kolor podswietlenia jest tu -->
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Szynka</h5>
            <small>3 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small>Jakas dodatkowa informacja</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Mleko</h5>
            <small class="text-muted">7 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small class="text-muted">Jakas dodatkowa informacja</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ser żółty</h5>
            <small class="text-muted">5 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small class="text-muted">Jakas dodatkowa informacja</small>
    </a>
    <!-- Kolor podswietlenia jest tu -->
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Szynka</h5>
            <small>3 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small>Jakas dodatkowa informacja</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Mleko</h5>
            <small class="text-muted">7 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small class="text-muted">Jakas dodatkowa informacja</small>
    </a>
    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Ser żółty</h5>
            <small class="text-muted">5 days left</small>
        </div>
        <p class="mb-1">Tujakis opis produktu który jest aktualnie w lodówce.
        </p>
        <small class="text-muted">Jakas dodatkowa informacja</small>
    </a>
</div>