<div class="contener">

    <div class="row">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    YourScale
                </div>
                <div class="card-body">
                    <h5 class="card-title">Witaj! Jaki produkt chcesz teraz zważyć?</h5>
                    <p class="card-text">Proszę postaw swój produkt na wadze wypowiedz jego nazwę abyśmy mogli poprawnie
                        go zidentyfikować.
                        Aby wprowadzić produkt za pomocą funkcji rozpoznawania mowy, proszę nacisnij przycisk poniżej.
                    </p>
                    <a href="#" class="btn btn-primary">Wprowadz produkt</a>
                </div>
                <div class="card-footer text-muted"></div>
            </div>
        </div>

    </div>

</div>