<div class="contener">
    <div class="row">

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/mleko.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/szynka.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/ser.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/ser.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/ser.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/ser.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/mleko.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

        <div class="col-md-3">

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="../assets/szynka.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mleko</h5>
                    <p class="card-text">Jakieś info o produkcie(stale wyciagane z bazy danych/lub ciekawostka na
                        temat
                        mleka czy
                        innego produktu</p>

                    <button type="button" class="btn btn-primary btn-lg btn-block">Wyjmij z lodówki</button>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">Włóż do lodówki</button>
                </div>
            </div>
        </div>

    </div>
</div>