<div class="contener">
  <div class="row m-3">
    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="max-width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/mleko.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Mleko 2.0% tłuszczu
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 2L</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/szynka.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Szynka Wujta
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 200g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/ser.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Ser Żółty Pakowany
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.344</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.261</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.21</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.191</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 300g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/mleko.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Mleko 2.0% tłuszczu
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.311</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.121</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.51</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.111</span
            ><br />
          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card border-success shadow-lg" style="width: 18rem;">
        <div class="m-4">
          <img
            class="card-img-top"
            src="../assets/szynka.jpg"
            alt="Card image cap"
          />
        </div>

        <div class="card-body">
          <h5 class="card-title" style="margin-left: 2rem;">
            Szynka Wujta
          </h5>
          <div
            style="margin-left: 3rem; margin-right: 3rem; margin-bottom: 1rem;"
          >
            <span style="font-weight:bold;">Kalorie:</span><span> 0.244</span
            ><br />
            <span style="font-weight:bold;">Białko:</span><span> 0.221</span
            ><br />
            <span style="font-weight:bold;">Cukier:</span><span> 0.71</span
            ><br />
            <span style="font-weight:bold;">Tłuszcze:</span><span> 0.171</span
            ><br />
          </div>
          <p style="float: right;">Ilość: 200g</p>

          <button type="button" class="btn btn-primary btn-lg btn-block">
            Wyjmij z lodówki
          </button>
          <button type="button" class="btn btn-secondary btn-lg btn-block">
            Włóż do lodówki
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
